*{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "eater", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("img/5_background/background_canvas3.png");
    background-position: center;
    background-size: cover;
}
@font-face {
    font-family: "eater";
    src: url("./fonts/eater.ttf");
}
.game-container {
    width: 720px;
    height: 480px;
}

canvas {
    border-radius: 8px;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.screen-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
}

.screen-img.cover {
    object-fit: cover;
}

.screen-img.contain {
    object-fit: contain;
    background-color: #000000b4;
}
.controls {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.button-group {
    display: none;
    gap: 10px;
}

.button-group.d-flex {
    display: flex;
}
button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background: #000000b4;
    text-shadow: 2px 2px 4px #000;
    color: #ffa700;
    cursor: pointer;
    letter-spacing: 2px;
}

button:hover {
    color: #903717;
    transform: scale(1.05);
}